/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

.main {
    padding: 10px;
}

.main, .panel {
    width: 220px;
    height: 200px;
}

.panel {
    padding: 25px 0 0 0;
    position: relative;
}

.panel2, .panel3 {
    display: none;
}

.ico {
    background: left center no-repeat;
    padding: 0 0 0 20px;
    display: inline-block;
    height: 16px;
    line-height: 14px;
    text-decoration: none;
    color: #000000;
}

.ico:hover {
    color: #379100;
}

.ico.add {
    background-image: url("images/ico-add.png");
    position: absolute;
    right: 0;
    top: 0;
}

.ico.arrow {
    background-image: url("images/ico-arrow.png");
    padding: 0 25px 0 0;
    background-position: right center;
}

.ico.arrow-left {
    background-image: url("images/ico-arrow-left.png");
    position: absolute;
    left: 0;
    top: 0;
}
.ico.set {
    background-image: url("images/ico-set.png");
    position: absolute;
    left: 0;
    top: 0;
}

.ico.remove {
    background-image: url("images/ico-remove.png");
    float: right;
    display: none;
}

.list {
    width: 100%;
    height: 150px;
    overflow: auto;
}

.list li {
    margin: 0 0 5px 0;
    display: block;
    padding: 3px 0;
    width: 100%;
}

.list li:hover .ico.remove {
    display: block;
}

.sendtoall {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 5px 0;
    background-color: #4f8c00;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.sendtoall:hover {
    color: #d0ff4a;
}

.add-form {
    padding: 20px 0 0 0;
}

.add-form input, .add-form label {
    display: inline-block;
}

.add-form input {
    width: 95%;
    margin: 0 0 15px 0;
    padding: 3px;
}

.add-form label {
    margin: 0 0 2px 0;
}

.add-form button {
    display: block;
    margin: 5px auto 0 auto;
    padding: 5px 15px;
}

.ifEmpty {
    display: none;
}